<f:layout name="Default" />
<f:section name="Main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div id="mainContent" class="col-lg-8  mb-5 mb-lg-0">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
                </div>
                <aside class="col-lg-4"> 
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2', slide: '-1', collect: '-1', collectReverse: '1'}" />
                </aside>
            </div>
        </div>
    </section>
</f:section>
